---
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
---

<Layout title="Vasie">
	<main>
		<ul role="list" class="link-card-grid">
			<Profile
				github="https://github.com/Vasie1337"
				discord='https://discord.com/users/1086621095228096583'
				description="Software Engineer"
				bio="I'm a programmer passionate about low-level programming and reverse engineering, with interests in backend systems, authentication, and frontend development."
			/>
		</ul>
	</main>
</Layout>

<style>
	html, body {
  		height: 100%;
 	 	margin: 0;
		background: var(--back-ground);
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		animation: fadeIn 0.5s ease-out;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
		padding: 0;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
</style>