---
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
---

<Layout title="Vasie">
	<main>
		<ul role="list" class="link-card-grid">
			<Profile
				name="Vasie"
				github="https://github.com/Vasie1337"
				discord='https://discord.com/users/1086621095228096583'
				description="Software Engineer"
				bio="I'm a programmer passionate about low-level programming and reverse engineering, with interests in backend systems, authentication, and frontend development."
				skills={['C++', 'PHP', 'HTML', 'CSS', "JS", "Go", "Python", "Astro", "Git", "MySQL"]}
				profileImage="vasie.png"
				projects={[
					{
						title: "Kernel Anticheat",
						description: "Created a custom kernel anticheat to test and learn about kernel programming",
						technologies: ["C++", "WDK", "Driver Development"],
						link: "https://github.com/Vasie1337/kernel-anticheat"
					},
					{
						title: "Shared Section Driver",
						description: "Driver that creates a shared section between usermode and kernelmode to communicate",
						technologies: ["C++", "WDK", "Driver Development"],
						link: "https://github.com/Vasie1337/shared-section-driver"
					},
					{
						title: "Forum Backend",
						description: "Backend for a forum website",
						technologies: ["Go", "MySQL", "Gin", "GORM", "JWT"],
						link: "https://github.com/Vasie1337/forum-backend"
					},
					{
						title: "Portfolio Website",
						description: "My personal portfolio website",
						technologies: ["Astro", "JS", "CSS", "HTML"],
						link: "https://github.com/Vasie1337/portfolio-website"
					}
				]}
			/>
		</ul>
	</main>
</Layout>

<style>
	html, body {
  		height: 100%;
 	 	margin: 0;
		background: var(--back-ground);
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
		padding: 0;
	}
</style>